* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-align: center;
    margin: 5px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15px;
    margin: 10px;
} 

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px;
    border: 3px solid rgb(200, 27, 27);
}

#header {
    text-align: center;
    margin-right: 30px;
}

h1 {
    font-size: 2em;
    color: rgb(200, 27, 27);
}

h2 {
    font-size: 1em;
    text-align: left;
    color: rgb(200, 27, 27);
}

.assignments ul {
    list-style: none;
    margin-top: 1%;
    margin-right: 5%;
    float: right;
}

.assignments ul li {
    margin: 2% 0;
    text-align: right;
}

.assignments ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

.assignments ul li a:hover {
    color: #ff2f6a;
}

.assignments img {
    object-fit: cover;
    width: 500px;
    height: 150px;
}

footer {
    text-align: center;
    padding-top: 40%;
    color: #777;
    margin-top: auto;
}

.description {
    text-align: center;
    margin: 40px;
    width: 100%; 

}

.averia-libre-light {
    font-family: "Averia Libre", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
.averia-libre-regular {
    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.averia-libre-bold {
    font-family: "Averia Libre", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
.averia-libre-light-italic {
    font-family: "Averia Libre", system-ui;
    font-weight: 300;
    font-style: italic;
  }
  
.averia-libre-regular-italic {
    font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
.averia-libre-bold-italic {
    font-family: "Averia Libre", system-ui;
    font-weight: 700;
    font-style: italic;
  }

.container{
    width: 80%; 
}

.left-column {
    float: left;
    width: 270px;
    margin-left: 30%;

}

.right-column {
    float: right;
    width: 46%;
}

#sketch-container {
    padding-bottom: 10%;
}